/*===== Bootstrap Media Queries =====*/

/*===== Large Devices (Desktops & Laptops) =====*/
@media (min-width: 1200px) {
    /* okay */
}

/*===== Medium Devices (Landscapes Tablets & Medium Desktops) =====*/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Mobile Menu */
    .navbar {
        background: rgba(0, 0, 0, 0.7);
        padding: 0;
    }

    .navbar-nav {
        float: left;
    }

    .digicart-nav-wrapper {
        padding: 0;
    }
}

/*===== Small Devices (Portrait Tablets & Small Desktops) =====*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Mobile Menu */
    .navbar {
        background: rgba(0, 0, 0, 0.7);
        padding: 0;
    }

    .navbar-nav {
        float: left;
    }

    .digicart-nav-wrapper {
        padding: 0;
    }

    /* About - remove diagonal border */
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        height: 350px;
        width: 100%;
    }

    #about-content-box {
        height: 350px;
        width: 100%;
    }

    /* Stats Items */
    .stats-item {
        padding: 20px 0;
    }

     /* Footer Copyrights */
     #footer-copyrights {
         text-align: center;
     }
}

/*===== Extra Small Devices (Landscapes Phones & Portrait Tablets) =====*/
@media (max-width: 767px) {
    /* Mobile Menu */
    .navbar {
        background: rgba(0, 0, 0, 0.7);
        padding: 0;
    }

    .navbar-nav {
        float: left;
    }

    .digicart-nav-wrapper {
        padding: 0;
    }

    /* Home Heading */
    #home-heading h3 {
        font-size: 34px;
    }

    .btn-general {
        font-size: 14px;
        padding: 6px 22px 6px 22px;
    }

    /* About - remove diagonal border */
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        height: 350px;
        width: 100%;
    }

    #about-content-box {
        height: 350px;
        width: 100%;
    }

    /* Work */
    .img-wrapper img {
        min-width: 100%;
    }

    /* Team */
    .team-member img.img-responsive {
        margin: 0 auto 0 auto;
        width: 100%;
    }

    /* Testimonial */
    .testimonial blockquote {
        padding: 6px 50px;
    }

    .testimonial blockquote:before {
        left: 10px;
    }

    .testimonial blockquote:after {
        right: 10px;
    }

    .testimonial blockquote p {
        font-size: 14px;
    }

     /* Stats */
     .stats-item {
         padding: 20px 0;
     }

     /* Footer Copyrights */
     #footer-copyrights {
        text-align: center;
    }
}

/*===== Extra Small Devices (Smaller Devices) =====*/
@media (max-width: 480px) {
    /* Okay */
}

/*===== Extra Small Devices (Smaller Devices) =====*/
@media (max-width: 320px) {
    /* Services */
    .service-item-icon i {
        height: 58px;
        padding: 7px;
        width: 58px;
    }
    .service-item-title h3 {
        font-size: 17px;
    }

    /* About */
    #about-content-box {
        margin-top: 40px;
    }

     /* Testimonial */
     .testimonial img {
        max-width: 80px;
     }

    .testimonial blockquote {
        padding: 6px 30px;
    }

    .testimonial blockquote:before {
        left: 7px;
    }

    .testimonial blockquote:after {
        right: 7px;
    }

    .testimonial blockquote p {
        font-size: 12px;
    }
}

